html {
	background-color: #8f8370;
	font-family: Arial, sans-serif;
	font-style: normal;
	text-align: left;
	font-size: 0.5rem;
}

h1 {
	font-weight: bold;
	font-size: 5rem;
	line-height: 1.5;
}

h2 {
	font-weight: bold;
	font-size: 3rem;
	line-height: 1.5;
	color: #333;
}

ul, dl {
	list-style-type: none;
	padding: 0;
	line-height: 2;
}

a {
	color: #470e0e;
}

a:hover {
	color:red;
}

blockquote {
	font-size:2rem;
	font-style: italic;
	font-family: "Times New Roman";
	text-align: center;
}

cite {
text-align: right;
}

.planets {
	list-style-type: lower-roman;
}
