html {
	background-color: #8f8370;
	font-family: Arial, sans-serif;
	font-style: normal;
}

h1 {
	font-weight: bold;
	font-size: 5rem;
	line-height: 1.5;
}

h2 {
	font-weight: bold;
	font-size: 3rem;
	line-height: 1.5;
	color: #333;
}

ul, dl {
	list-style-type: none;
	padding: 0;
	line-height: 2;
}
